name: Rust-Cargo Build

on:
  push:
    paths-ignore:
      - 'sites/**'
      - '.github/workflows/docs.yml'
  workflow_dispatch:
    inputs:
      version:
        description: Terracotta Version
        type: string

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always
  name: "terracotta"
  RUST_BACKTRACE: "full"

defaults:
  run:
    shell: "bash"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            name: Windows
            arch: x86_64
            target: x86_64-pc-windows-msvc
          - os: windows-11-arm
            name: Windows
            arch: arm64
            target: aarch64-pc-windows-msvc
          - os: ubuntu-24.04
            name: Linux
            arch: x86_64
            target: x86_64-unknown-linux-musl
          - os: ubuntu-24.04-arm
            name: Linux
            arch: arm64
            target: aarch64-unknown-linux-musl
          - os: ubuntu-24.04
            name: Linux
            arch: riscv64
            target: riscv64gc-unknown-linux-gnu
            glibc-version: 2.27
          - os: ubuntu-24.04
            name: Linux
            arch: loongarch64
            target: loongarch64-unknown-linux-gnu
            glibc-version: 2.36
          - os: macos-15-intel
            name: MacOS
            arch: x86_64
            target: x86_64-apple-darwin
          - os: macos-latest
            name: MacOS
            arch: arm64
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.os }}
    name: Build for ${{ matrix.name }} ${{ matrix.arch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install GitHub Artifact Client
        uses: lhotari/gh-actions-artifact-client@v2
      - name: Install musl libc (${{ matrix.name }} ${{ matrix.arch }})
        if: ${{ matrix.name == 'Linux' && contains(fromJSON('["x86_64", "arm64"]'), matrix.arch) }}
        run: |
          sudo apt update
          sudo apt install --yes --no-install-recommends build-essential musl-tools musl-dev
      - name: Compute Version
        run: |
          if [ -z "${{ github.event.inputs.version }}" ]; then
            echo "TERRACOTTA_VERSION=${GITHUB_SHA::7}" >> $GITHUB_ENV
          else
            echo "TERRACOTTA_VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          fi
      - name: Install 7z (Windows)
        if: ${{ matrix.name == 'Windows' }}
        run: choco install 7zip
      - name: Install Zig (Linux riscv64 | loongarch64)
        if: ${{ matrix.name == 'Linux' && contains(fromJSON('["riscv64", "loongarch64"]'), matrix.arch) }}
        uses: mlugg/setup-zig@v2
      - name: Install cargo-zigbuild (Linux riscv64 | loongarch64)
        if: ${{ matrix.name == 'Linux' && contains(fromJSON('["riscv64", "loongarch64"]'), matrix.arch) }}
        run: cargo install cargo-zigbuild --force
      - name: Build (Windows)
        if: ${{ matrix.name == 'Windows' }}
        run: |
          rustup target add --toolchain nightly ${{ matrix.target }}
          rustup component add rust-src --toolchain nightly-${{ matrix.target }}
          cargo +nightly build --release --target $(rustc --print host-tuple) \
            -Z build-std=core,std,alloc,proc_macro,panic_abort \
            -Z build-std-features=default,optimize_for_size
        env:
          RUSTFLAGS: -Zunstable-options -Cpanic=immediate-abort
      - name: Build (Linux x86_64 | arm64)
        if: ${{ matrix.name == 'Linux' && contains(fromJSON('["x86_64", "arm64"]'), matrix.arch) }}
        run: |
          rustup target add --toolchain nightly ${{ matrix.target }}
          rustup component add rust-src --toolchain "nightly-${{ matrix.target }}"
          rustup component add rust-src --toolchain "nightly-$(rustc --print host-tuple)"
          cargo +nightly build --release --target ${{ matrix.target }} \
            -Z build-std=core,std,alloc,proc_macro,panic_abort \
            -Z build-std-features=default,optimize_for_size
        env:
          RUSTFLAGS: -Zunstable-options -Cpanic=immediate-abort
      - name: Build (Linux riscv64 | loongarch64)
        if: ${{ matrix.name == 'Linux' && contains(fromJSON('["riscv64", "loongarch64"]'), matrix.arch) }}
        run: |
          rustup target add --toolchain nightly ${{ matrix.target }}
          cargo +nightly zigbuild --release --target "${{ matrix.target }}.${{ matrix.glibc-version }}"
      - name: Build (MacOS)
        if: ${{ matrix.name == 'MacOS' }}
        run: |
          rustup target add --toolchain nightly ${{ matrix.target }}
          rustup component add rust-src --toolchain nightly-${{ matrix.target }}
          cargo +nightly build --release --target $(rustc --print host-tuple) \
            -Z build-std=core,std,alloc,proc_macro,panic_abort \
            -Z build-std-features=default,optimize_for_size
        env:
          RUSTFLAGS: -Zunstable-options -Cpanic=immediate-abort
      - name: Upload Artifact (Windows)
        if: ${{ matrix.name == 'Windows' }}
        run: |
          source="terracotta-${TERRACOTTA_VERSION}-windows-${{ matrix.arch }}.exe"
          cp "target/$(rustc --print host-tuple)/release/terracotta.exe" "$source"
          7z a "$source.zip" "$source"
          cat "$source.zip" | gh-actions-artifact-client.js upload "$source"
      - name: Upload Artifact (Linux)
        if: ${{ matrix.name == 'Linux' }}
        run: |
          source="terracotta-${TERRACOTTA_VERSION}-linux-${{ matrix.arch }}"
          cp "target/$TARGET/release/terracotta" "$source"
          chmod 755 "$source"
          tar -cf "$source.tar" "$source"
          zip -q - "$source.tar" | gh-actions-artifact-client.js upload "$source.tar"
      - name: Upload Artifact (MacOS)
        if: ${{ matrix.name == 'MacOS' }}
        run: |
          source="terracotta-${TERRACOTTA_VERSION}-macos-${{ matrix.arch }}"
          
          cp "target/$(rustc --print host-tuple)/release/terracotta" "$source"
          chmod 755 "$source"
          tar -cf "$source.tar" "$source"
          zip -q - "$source.tar" | gh-actions-artifact-client.js upload "$source.tar"
          
          chmod -R 755 build/macos/scripts
          TEMP_DIR=$(mktemp -d)
          mkdir -p "$TEMP_DIR"
          
          cp -R build/macos/terracotta.app "$TEMP_DIR"
          mkdir -p "$TEMP_DIR/terracotta.app/Contents/MacOS/"
          cp "target/$(rustc --print host-tuple)/release/terracotta" "$TEMP_DIR/terracotta.app/Contents/MacOS/terracotta"
          
          chmod -R 755 "$TEMP_DIR/"
          PKG_OUTPUT="$source.pkg"
          
          pkgbuild \
            --root "$TEMP_DIR" \
            --identifier "net.burningtnt.terracotta" \
            --version "1.0" \
            --install-location "/Applications" \
            --scripts build/macos/scripts \
            --component-plist build/macos/terracotta.plist \
            "$PKG_OUTPUT"
          zip -q - $PKG_OUTPUT | gh-actions-artifact-client.js upload "$source.pkg"
  assemble-packages:
    runs-on: ubuntu-latest
    name: Assemble Artifact
    needs: build
    steps:
      - name: Install GitHub Artifact Client
        uses: lhotari/gh-actions-artifact-client@v2
      - name: Install 7z
        run: |
          sudo apt-get update
          sudo apt-get install -y p7zip-full
      - name: Compute Version
        run: |
          if [ -z "${{ github.event.inputs.version }}" ]; then
            echo "TERRACOTTA_VERSION=${GITHUB_SHA::7}" >> $GITHUB_ENV
          else
            echo "TERRACOTTA_VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          fi
      - name: Assemble Artifacts
        run: |
          artifacts_direct=(
            "terracotta-${TERRACOTTA_VERSION}-windows-x86_64.exe"
            "terracotta-${TERRACOTTA_VERSION}-windows-arm64.exe"
            "terracotta-${TERRACOTTA_VERSION}-macos-x86_64.pkg"
            "terracotta-${TERRACOTTA_VERSION}-macos-arm64.pkg"
          )
          artifacts_tar=(
            "terracotta-${TERRACOTTA_VERSION}-linux-x86_64"
            "terracotta-${TERRACOTTA_VERSION}-linux-arm64"
            "terracotta-${TERRACOTTA_VERSION}-linux-riscv64"
            "terracotta-${TERRACOTTA_VERSION}-linux-loongarch64"
            "terracotta-${TERRACOTTA_VERSION}-macos-x86_64"
            "terracotta-${TERRACOTTA_VERSION}-macos-arm64"
          )
          
          file=$(mktemp -t XXXXXX.zip)
          for artifact in "${artifacts_direct[@]}"; do
            gh-actions-artifact-client.js download "$artifact" > "$file"
            unzip -p "$file" > "$artifact"
          done
          for artifact in "${artifacts_tar[@]}"; do
            gh-actions-artifact-client.js download "$artifact.tar" > "$file"
            unzip -p "$file" | tar -xOf - > "$artifact"
          done
          rm "$file"
          
          chmod 755 terracotta-${TERRACOTTA_VERSION}-*
          7z -m0=LZMA2 -mx=9 -ms=on a terracotta.7z terracotta-${TERRACOTTA_VERSION}-*
          zip -r - terracotta.7z | gh-actions-artifact-client.js upload "terracotta-${TERRACOTTA_VERSION}-all.7z"
          
          if [ ! -z "${{ github.event.inputs.version }}" ]; then
            tar -czvf terracotta-${TERRACOTTA_VERSION}-windows-x86_64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-windows-x86_64.exe
            tar -czvf terracotta-${TERRACOTTA_VERSION}-windows-arm64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-windows-arm64.exe
            tar -czvf terracotta-${TERRACOTTA_VERSION}-linux-x86_64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-linux-x86_64
            tar -czvf terracotta-${TERRACOTTA_VERSION}-linux-arm64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-linux-arm64
            tar -czvf terracotta-${TERRACOTTA_VERSION}-linux-riscv64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-linux-riscv64
            tar -czvf terracotta-${TERRACOTTA_VERSION}-linux-loongarch64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-linux-loongarch64
          
            tar -czvf terracotta-${TERRACOTTA_VERSION}-macos-x86_64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-macos-x86_64 terracotta-${TERRACOTTA_VERSION}-macos-x86_64.pkg
            tar -czvf terracotta-${TERRACOTTA_VERSION}-macos-arm64-pkg.tar.gz terracotta-${TERRACOTTA_VERSION}-macos-arm64 terracotta-${TERRACOTTA_VERSION}-macos-arm64.pkg
          
            gh release create v"${{ github.event.inputs.version }}" -R "${{ github.repository }}" --draft --generate-notes terracotta-${TERRACOTTA_VERSION}-*
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
